body {
  font-family: "Poppins", sans-serif;
}
.color {
  color: orange;
}
h1 {
  font-size: 50px;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding: 16px;
}
.half-width img {
  width: 100%;
}
