body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.color {
  color: orange;
}
h1 {
  font-size: 50px;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding: 20px;
}
.half-width img {
  width: 100%;
}
.link-button {
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  font-weight: 700;
}
.link-button:hover {
  font-size: larger;
}
.top-banner {
  background-image: url("/images/top-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
}
