body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.color {
  color: orange;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding: 20px;
}
.half-width img {
  width: 100%;
}
.link-button {
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  font-weight: 700;
}
.link-button:hover {
  font-size: larger;
}
.top-banner {
  background-image: url("images/top-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.experience-area {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
.experience-item {
  box-shadow: 10px 10px 40px gray;
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  border-radius: 8px;
}

#web-dev {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#baby-dev {
  border-left: 7px solid;
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
